{% extends 'admin_pages/base.html.twig' %}

{% block title %}添加运费模板{% endblock %}

{% block subHeader %}
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">添加运费模板</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right"
                  action="{{ path('ship_fee_template_entity_edit_action',{"id":shipFeeTemplateEntity.id}) }}" method="POST">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group form-inline">
                        <label for="">运费模板名称(必填)：</label>
                        <input type="text" class="form-control m-input" value="{{ shipFeeTemplateEntity.templateName }}"
                               required="required" id="shipTitle" name="shipTitle">
                    </div>
                    <div class="form-group m-form__group">
                        <label for="" id="">宝贝地址(必填)：</label>
                        <div class="col-lg-3 col-md-3 col-sm-12 d-inline-block row">
                            <select class="form-control" id="province" name="province" required="required">
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 d-inline-block row">
                            <select class="form-control" id="city" name="city" required="required">
                                <option>{{ shipFeeTemplateEntity.city }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 d-inline-block row">
                            <select class="form-control" id="district" name="district" required="required">
                                <option>{{ shipFeeTemplateEntity.district }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-form__group form-inline">
                        <label for="" id="">发货时间：</label>
                        <div class="col-lg-4 col-md-4 col-sm-12 d-inline-block row">
                            <select class="form-control" id="shiptime" name="shiptime">
                                <option>4小时内</option>
                                <option>8小时内</option>
                                <option>12小时内</option>
                                <option>1天内</option>
                                <option>2天内</option>
                                <option>3天内</option>
                                <option>5天内</option>
                                <option>7天内</option>
                                <option>10天内</option>
                                <option>15天内</option>
                                <option>20天内</option>
                                <option>25天内</option>
                                <option>30天内</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-form__group form-inline">
                        <label>是否包邮：</label>
                        <div class="m-radio-inline" id="boolFreeShip">
                            <label class="m-radio">
                                <input type="radio" name="boolFreeShip"
                                       value="1" {% if shipFeeTemplateEntity.shipIsFree == 1 %}checked{% endif %} > 卖家承担运费
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" name="boolFreeShip"
                                       value="0" {% if shipFeeTemplateEntity.shipIsFree == 0 %}checked{% endif %}> 自定义运费
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <label for="" id="shipmethodlabel">发货方式：</label>

                        {% set data = shipFeeTemplateEntity.shipMethods %}
                        {% for item in data %}
                        <div class="m-checkbox-list">
                            {% for key,body in item %}
                                {% if key == "shipexpress" and body.shipexpress == 1 %}
                                <label class="m-checkbox">
                                    <input type="checkbox" id="shipExpress" name="shipexpress"
                                           {% if key == "shipexpress" %} checked="checked" {% endif %}
                                           onchange="showShipMethods(this,'.ship_express')"> 快递
                                    <span></span>
                                </label>

                                <div class="ship_express form-group-sm form-inline" {% if shipFeeTemplateEntity.shipIsFree == 0 %}style = "display:block;"{% endif %}>
                                    默认运费:
                                    <input class="form-control form-control-sm defaultNum" name="expressdefaultnum"
                                           type="number" value="{{ shipFeeTemplateEntity.shipIsFree == 1 ? "1": body.defaultnum }}">
                                    件内
                                    <input class="form-control form-control-sm defaultFee" name="expressdefaultfee"
                                           type="number" value="{{ shipFeeTemplateEntity.shipIsFree == 1 ? "0": body.defaultfee }}">
                                    元,每增加
                                    <input class="form-control form-control-sm addNum" name="expressaddnum" type="number"
                                           value="{{ shipFeeTemplateEntity.shipIsFree == 1 ? "1": body.addnum }}">
                                    件,增加运费
                                    <input class="form-control form-control-sm addFee" name="expressaddfee" type="number"
                                           value="{{ shipFeeTemplateEntity.shipIsFree == 1 ? "0": body.addfee }}">
                                    元.
                                </div>

                                {% endif %}

                                {% if key == "shipems" and body.shipems == 1 %}
                                <label class="m-checkbox">
                                    <input type="checkbox" id="shipEms" name="shipems"
                                            {% if key == "shipems" %} checked="checked" {% endif %}
                                           onchange="showShipMethods(this,'.ship_ems')"> EMS
                                    <span></span>
                                </label>
                                <div class="ship_ems form-group-sm form-inline" {% if shipFeeTemplateEntity.shipIsFree == 0 %}style = "display:block;"{% endif %}>
                                    默认运费:
                                    <input class="form-control form-control-sm defaultNum" name="emsdefaultnum"
                                           type="number" value="{{ shipFeeTemplateEntity.shipIsFree == 1 ? "1": body.defaultnum }}">
                                    件内
                                    <input class="form-control form-control-sm defaultFee" name="emsdefaultfee"
                                           type="number" value="{{ shipFeeTemplateEntity.shipIsFree == 1 ? "0": body.defaultfee }}">
                                    元,每增加
                                    <input class="form-control form-control-sm addNum" name="emsaddnum" type="number"
                                           value="{{ shipFeeTemplateEntity.shipIsFree == 1 ? "1": body.addnum }}">
                                    件,增加运费
                                    <input class="form-control form-control-sm addFee" name="emsaddfee" type="number"
                                           value="{{ shipFeeTemplateEntity.shipIsFree == 1 ? "0": body.addfee }}">
                                    元.
                                </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button id="addShipTemplateBtn" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->

    </div>

{% endblock %}


{% block custom_javascripts %}

    <script type="text/javascript">
        var rootURL = window.location.protocol + "//" + window.location.host;
        var pcsPath = rootURL + "/assets/inchTimeJs/lib/pca.json"
        var jsonData = "";
        $.getJSON(pcsPath, function (data) {
            // console.log(data);
            //data就是json对象了，不需要再转换
            var provinceOptions = "";
            jsonData = data;
            for (var key in data) {
                //如果当前行和模板上的省份一样
                if(key.indexOf('{{ shipFeeTemplateEntity.province }}') != -1){
                    provinceOptions = provinceOptions + "<option selected>" + key + "</option>";
                }else{
                    provinceOptions = provinceOptions + "<option>" + key + "</option>";
                }
            }
            $("#province").append(provinceOptions);

            onchangeprovince();
            onchangecity();
        });

        $("#province").change(onchangeprovince);

        function onchangeprovince() {
            $("#city").empty();
            var currProvince = $("#province").find("option:selected").text();
            var currData = jsonData[currProvince];
            var currCity = "";
            for (var key in currData) {
                //如果当前行和模板上的省份一样
                if(key.indexOf('{{ shipFeeTemplateEntity.city }}') != -1){
                    currCity = currCity + "<option selected>" + key + "</option>";
                }else{
                    currCity = currCity + "<option>" + key + "</option>";
                }

            }
            $("#city").append(currCity);


            var currCity = $("#city").find("option:selected").text();
            $("#district").empty();
            var currDistrictData = jsonData[currProvince][currCity];
            var currDisctrict = "";
            for (var key in currDistrictData) {
                //如果当前行和模板上的省份一样
                if(key.indexOf('{{ shipFeeTemplateEntity.district }}') != -1){
                    currDisctrict = currDisctrict + "<option selected>" + currDistrictData[key] + "</option>";
                }else{
                    currDisctrict = currDisctrict + "<option>" + currDistrictData[key] + "</option>";
                }
            }
            $("#district").append(currDisctrict);

        }

        $("#city").change(onchangecity);

        function onchangecity() {
            $("#district").empty();
            var currProvince = $("#province").find("option:selected").text();
            var currCity = $("#city").find("option:selected").text();

            var currDistrictData = jsonData[currProvince][currCity];

            // console.log(currDistrictData);

            var currDisctrict = "";
            for (var key in currDistrictData) {
                currDisctrict = currDisctrict + "<option>" + currDistrictData[key] + "</option>";
            }
            $("#district").append(currDisctrict);
        }


        function showShipMethods(element, domClass) {
            //不包邮时候才显示运费设置,包邮了就只显发货是快递 还是 EMS就行了.
            if ($("#boolFreeShip input[type=radio]:checked").val() == 0) {
                if ($(element).prop('checked') == true) {
                    $(domClass).show();
                } else {
                    $(domClass).hide();
                }
            }

        }


        $("#boolFreeShip input[type=radio]").click(resetShipMethods);

        function resetShipMethods() {
            $(".notice").remove();

            if ($("#shipExpress").prop("checked") == false
                && $("#shipEms").prop("checked") == false) {
                $("#shipmethodlabel").append("<span class='notice' style='color:red'>请勾选发货方式</span>");
            }

            $("#shipExpress").prop("checked", false);
            $("#shipEms").prop("checked", false);

        }

        $(document).ready(function(){
            //发货时间选择
            //页面文档加载完成后,遍历所有option
            $("#shiptime option").each(function(index,element){
                if($(element).text().indexOf('{{ shipFeeTemplateEntity.shipTimeAfterOrder }}') != -1){
                    $(element).attr("selected", true);
                }
            });
        });


    </script>


{% endblock %}