{#首页内容列表模板#}

{% extends 'themes/cozastore/base.html.twig' %}

{% block title %}
    {{ productEntity.title }}
{% endblock %}

{% block seo_meta %}
    <meta name="description" content="{{ productEntity.title }},{{ system.siteDescription }}"/>
    <meta name="keywords" content="
            {% for fieldTaxonomyTableEntity in productEntity.fieldTaxonomyTableEntitys %}
                {{ fieldTaxonomyTableEntity.taxonomyEntity.taxonomyWord }},
            {% endfor %}
    "/>

{% endblock %}

{% block content %}
    {% include 'themes/cozastore/header.html.twig' %}

    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                首页
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
				{{ productEntity.title }}
			</span>
        </div>
    </div>

    <!-- Product Detail -->
    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                            <div class="slick3 gallery-lb">
                                {% for fieldImageTableEntity in productEntity.fieldImageTableEntitys %}
                                    <div class="item-slick3" data-thumb="{{ asset(fieldImageTableEntity.fileManagedEntity.uri) | imagine_filter("product_mainpic_thumbnail") }}">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="{{ asset(fieldImageTableEntity.fileManagedEntity.uri) | imagine_filter("product_mainpic_thumbnail") }}" alt="IMG-PRODUCT">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ asset(fieldImageTableEntity.fileManagedEntity.uri) }}">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            {{ productEntity.title }}
                        </h4>
                        <div class="price">
                                <span class="mtext-50 cl2 " style="text-decoration: line-through; color: grey;">
                                    {% for fieldTableEntity in productEntity.fieldTableEntitys %}
                                        {% if "price" in fieldTableEntity.fieldAliasInContentTypeEntity %}
                                            ¥:{{ fieldTableEntity.fieldTableValue }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                        </div>
                        <div class="discount">
                                <span class="mtext-106 cl2">
                                    {% for fieldTableEntity in productEntity.fieldTableEntitys %}
                                        {% if "discount" in fieldTableEntity.fieldAliasInContentTypeEntity %}
                                            ¥:{{ fieldTableEntity.fieldTableValue }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                        </div>
                        <p class="stext-102 cl3 p-t-23">
                            {{ productEntity.fieldTextTableEntitys[0].fieldTableValue }}
                        </p>

                        <!--  -->
                        <form class="js-add-cart-form" data-action="{{ path('add_to_cart') }}" method="post">
                        <div class="p-t-33 js-product-info">

                            <div class="hidden js-sale-props-value" data-value="{{ productEntity.fieldProductPropsTableEntity.fieldProductPropsValue|json_encode }}"></div>

                            {% if productEntity.fieldProductPropsTableEntity.group1PropsJson %}
                                {% set group1props = productEntity.fieldProductPropsTableEntity.group1PropsJson %}

                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        {{ productEntity.contentTypeEntity.productTypeEntity.salePropField[0].title }}
                                    </div>
                                    <div class="size-204 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">

                                            <select class="js-select2" name="group1prop-select">
                                                <option value="">请选择一个{{ productEntity.contentTypeEntity.productTypeEntity.salePropField[0].title }}</option>
                                                {% for group1ItemPropKey,group1ItemPropValues in group1props %}
                                                    {% for group1Item in group1ItemPropValues %}
                                                        <option data-img="{{ asset(group1Item.largeimage) }}" value="{{ group1Item.name }}">{{ group1Item.name }} {{ group1Item.commit }}</option>
                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if productEntity.fieldProductPropsTableEntity.group2PropsJson %}
                                {% set group2props = productEntity.fieldProductPropsTableEntity.group2PropsJson %}

                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        {{ productEntity.contentTypeEntity.productTypeEntity.salePropField[1].title }}
                                    </div>

                                    <div class="size-204 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select class="js-select2" name="group2prop-select">
                                                <option value="">请选择一个{{ productEntity.contentTypeEntity.productTypeEntity.salePropField[1].title }}</option>
                                                {% for group2ItemPropKey,group2ItemPropValues in group2props %}
                                                    {% for group2Item in group2ItemPropValues %}
                                                        <option value="{{ group2Item.name }}">{{ group2Item.name }}</option>
                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>
                                    <input type="hidden" name="product-entity" value="{{ productEntity.id }}">
                                    <input type="hidden" name="token" value="{{ csrf_token("add_to_cart") }}">
                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                        添加到购物车
                                    </button>
                                </div>
                            </div>

                        </div>
                        </form>
                        {#<!-- 分享 -->#}
                        {#<div class="flex-w flex-m p-l-100 p-t-40 respon7">#}
                        {#<div class="flex-m bor9 p-r-10 m-r-11">#}
                        {#<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">#}
                        {#<i class="zmdi zmdi-favorite"></i>#}
                        {#</a>#}
                        {#</div>#}

                        {#<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">#}
                        {#<i class="fa fa-facebook"></i>#}
                        {#</a>#}

                        {#<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">#}
                        {#<i class="fa fa-twitter"></i>#}
                        {#</a>#}

                        {#<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">#}
                        {#<i class="fa fa-google-plus"></i>#}
                        {#</a>#}
                        {#</div>#}
                    </div>
                </div>
            </div>

            <div class="bor10 m-t-50 p-t-43 p-b-40">
                <!-- Tab01 -->
                <div class="tab01">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item p-b-10">
                            <a class="nav-link active" data-toggle="tab" href="#description" role="tab">商品详情</a>
                        </li>

                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">评论</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-t-43">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                            <div class="how-pos2 p-lr-15-md">
                                {{ productEntity.body|raw }}
                            </div>
                        </div>

                        <!-- - -->
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                    <div class="p-b-30 m-lr-15-sm">
                                        {% for commentEntity in productEntity.commentEntities %}
                                            <!-- Review -->
                                            <div class="flex-w flex-t p-b-68">
                                                <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
                                                    <img src="{{ commentEntity.author.avatar(40) }}" alt="AVATAR">
                                                </div>

                                                <div class="size-207">
                                                    <div class="flex-w flex-sb-m p-b-17">
                                                        <span class="mtext-107 cl2 p-r-20">
                                                            {{ commentEntity.author.username }}
                                                        </span>

                                                        {#<span class="fs-18 cl11">#}
                                                            {#<i class="zmdi zmdi-star"></i>#}
                                                            {#<i class="zmdi zmdi-star"></i>#}
                                                            {#<i class="zmdi zmdi-star"></i>#}
                                                            {#<i class="zmdi zmdi-star"></i>#}
                                                            {#<i class="zmdi zmdi-star-half"></i>#}
                                                        {#</span>#}
                                                    </div>

                                                    <p class="stext-102 cl6">
                                                        {{ commentEntity.commentBody|raw }}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endfor %}


                                        <!-- Add review -->
                                        <h5 class="mtext-108 cl2 p-b-7">
                                            添加评论
                                        </h5>

                                        {% if app.user == null %}
                                            请 <a href="{{ path('fos_user_security_login') }}">登录</a> 后,发表评论. 还没有账号? <a href="{{ path('fos_user_registration_register') }}">注册一个</a>
                                        {% else %}
                                            您好:  {{ app.user.username }}
                                            {{ form_start(commentForm) }}
                                            {{ form_widget(commentForm) }}
                                            <button class="btn btn-primary">提交</button>
                                            {{ form_end(commentForm) }}
                                        {% endif %}
                                        {#<div class="flex-w flex-m p-t-50 p-b-23">#}
                                            {#<span class="stext-102 cl3 m-r-16">#}
                                                {#Your Rating#}
                                            {#</span>#}

                                            {#<span class="wrap-rating fs-18 cl11 pointer">#}
                                                {#<i class="item-rating pointer zmdi zmdi-star-outline"></i>#}
                                                {#<i class="item-rating pointer zmdi zmdi-star-outline"></i>#}
                                                {#<i class="item-rating pointer zmdi zmdi-star-outline"></i>#}
                                                {#<i class="item-rating pointer zmdi zmdi-star-outline"></i>#}
                                                {#<i class="item-rating pointer zmdi zmdi-star-outline"></i>#}
                                                {#<input class="dis-none" type="number" name="rating">#}
                                            {#</span>#}
                                        {#</div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">#}
			{#<span class="stext-107 cl6 p-lr-25">#}
				{#SKU: JAK-01#}
			{#</span>#}

            {#<span class="stext-107 cl6 p-lr-25">#}
				{#Categories: Jacket, Men#}
			{#</span>#}
        {#</div>#}
    </section>

    <!-- Related Products -->
    <section class="sec-relate-product bg0 p-t-45 p-b-105">
        <div class="container">
            <div class="p-b-45">
                <h3 class="ltext-106 cl5 txt-center">
                    相关产品
                    {#可以在后台增加内容类型的引用字段,在添加内容时可以精准推荐相关产品#}
                </h3>
            </div>

            <!-- Slide2 -->
            <div class="wrap-slick2">
                <div class="slick2">
                    {#此处使用baseController推荐5条随机商品#}
                    {% set relationProducts = baseController.randomProducts(4) %}
                    {% for relationProduct in relationProducts %}
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img src="{{ asset(relationProduct.fieldImageTableEntitys[0].fileManagedEntity.uri) | imagine_filter('product_grid_img_thumbnail')  }}" alt="{{ relationProduct.title }}">

                                <a href="#" id="js-show-modal-{{ relationProduct.id }}" data-id="{{ relationProduct.id }}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                    快速查看
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href="{{ path('show_product_detail', {id: relationProduct.id}) }}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        {{ relationProduct.title }}
                                    </a>

                                    <span class="stext-105 cl3">
										{% for fieldTableEntity in relationProduct.fieldTableEntitys %}
                                            {% if "discount" in fieldTableEntity.fieldAliasInContentTypeEntity %}
                                                ¥:{{ fieldTableEntity.fieldTableValue }}
                                            {% endif %}
                                        {% endfor %}
									</span>
                                </div>

                                {#<div class="block2-txt-child2 flex-r p-t-3">#}
                                    {#<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">#}
                                        {#<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">#}
                                        {#<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">#}
                                    {#</a>#}
                                {#</div>#}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'themes/cozastore/footer.html.twig' %}

    <!-- Modal -->
    {% for productContentEntity in relationProducts %}
        <div class="wrap-modal1 js-modal-{{ productContentEntity.id }} p-t-60 p-b-20">
            <div class="overlay-modal1 js-hide-modal1"></div>

            <div class="container">
                <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                    <button id="js-hide-modal-{{ productContentEntity.id }}" class="how-pos3 hov3 trans-04">
                        <img data-id="{{ productContentEntity.id }}" src="{{ asset('assets/cozastore/images/icons/icon-close.png') }}" alt="CLOSE">
                    </button>

                    <div class="row">
                        <div class="col-md-6 col-lg-7 p-b-30">
                            <div class="p-l-25 p-r-30 p-lr-0-lg">
                                <div class="wrap-slick3 flex-sb flex-w">
                                    <div class="wrap-slick3-dots"></div>
                                    <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                    <div class="slick3 gallery-lb">
                                        {% for fieldImageTableEntity in productContentEntity.fieldImageTableEntitys %}
                                            <div class="item-slick3" data-thumb="{{ asset(fieldImageTableEntity.fileManagedEntity.uri) | imagine_filter("product_mainpic_thumbnail") }}">
                                                <div class="wrap-pic-w pos-relative">
                                                    <img src="{{ asset(fieldImageTableEntity.fileManagedEntity.uri) | imagine_filter("product_mainpic_thumbnail") }}" alt="IMG-PRODUCT">

                                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ asset(fieldImageTableEntity.fileManagedEntity.uri) }}">
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-5 p-b-30">
                            <div class="p-r-50 p-t-5 p-lr-0-lg">
                                <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                                    {{ productContentEntity.title }}
                                </h4>
                                <div class="price">
                                <span class="mtext-50 cl2 " style="text-decoration: line-through; color: grey;">
                                    {% for fieldTableEntity in productContentEntity.fieldTableEntitys %}
                                        {% if "price" in fieldTableEntity.fieldAliasInContentTypeEntity %}
                                            ¥:{{ fieldTableEntity.fieldTableValue }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                </div>
                                <div class="discount">
                                <span class="mtext-106 cl2">
                                    {% for fieldTableEntity in productContentEntity.fieldTableEntitys %}
                                        {% if "discount" in fieldTableEntity.fieldAliasInContentTypeEntity %}
                                            ¥:{{ fieldTableEntity.fieldTableValue }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                </div>
                                <p class="stext-102 cl3 p-t-23">
                                    {{ productContentEntity.fieldTextTableEntitys[0].fieldTableValue }}
                                </p>
                                <!--  -->
                                <div class="p-t-33 js-product-info">

                                    <div class="hidden js-sale-props-value" data-value="{{ productContentEntity.fieldProductPropsTableEntity.fieldProductPropsValue|json_encode }}"></div>

                                    {% if productContentEntity.fieldProductPropsTableEntity.group1PropsJson %}
                                        {% set group1props = productContentEntity.fieldProductPropsTableEntity.group1PropsJson %}

                                        <div class="flex-w flex-r-m p-b-10">
                                            <div class="size-203 flex-c-m respon6">
                                                {{ productContentEntity.contentTypeEntity.productTypeEntity.salePropField[0].title }}
                                            </div>
                                            <div class="size-204 respon6-next">
                                                <div class="rs1-select2 bor8 bg0">

                                                    <select class="js-select2" name="group1prop-select">
                                                        <option>请选择一个{{ productContentEntity.contentTypeEntity.productTypeEntity.salePropField[0].title }}</option>
                                                        {% for group1ItemPropKey,group1ItemPropValues in group1props %}
                                                            {% for group1Item in group1ItemPropValues %}
                                                                <option data-img="{{ asset(group1Item.largeimage) }}" value="{{ group1Item.name }}">{{ group1Item.name }} {{ group1Item.commit }}</option>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if productContentEntity.fieldProductPropsTableEntity.group2PropsJson %}
                                        {% set group2props = productContentEntity.fieldProductPropsTableEntity.group2PropsJson %}

                                        <div class="flex-w flex-r-m p-b-10">
                                            <div class="size-203 flex-c-m respon6">
                                                {{ productContentEntity.contentTypeEntity.productTypeEntity.salePropField[1].title }}
                                            </div>

                                            <div class="size-204 respon6-next">
                                                <div class="rs1-select2 bor8 bg0">
                                                    <select class="js-select2" name="group2prop-select">
                                                        <option>请选择一个{{ productContentEntity.contentTypeEntity.productTypeEntity.salePropField[1].title }}</option>
                                                        {% for group2ItemPropKey,group2ItemPropValues in group2props %}
                                                            {% for group2Item in group2ItemPropValues %}
                                                                <option value="{{ group2Item.name }}">{{ group2Item.name }}</option>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-204 flex-w flex-m respon6-next">
                                            <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>

                                                <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>

                                            <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                                添加到购物车
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                {#<!-- 分享 -->#}
                                {#<div class="flex-w flex-m p-l-100 p-t-40 respon7">#}
                                {#<div class="flex-m bor9 p-r-10 m-r-11">#}
                                {#<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">#}
                                {#<i class="zmdi zmdi-favorite"></i>#}
                                {#</a>#}
                                {#</div>#}

                                {#<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">#}
                                {#<i class="fa fa-facebook"></i>#}
                                {#</a>#}

                                {#<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">#}
                                {#<i class="fa fa-twitter"></i>#}
                                {#</a>#}

                                {#<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">#}
                                {#<i class="fa fa-google-plus"></i>#}
                                {#</a>#}
                                {#</div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block base_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/cozastore/js/product.js') }}"></script>
    {#当前页面得把页头MENU背景改为白色，用jquery修改吧#}
    <script>
        $(document).ready(function(){
            $("header").addClass("header-v4");
        });
    </script>
{% endblock %}