{#首页内容列表模板#}

{% extends 'themes/cozastore/base.html.twig' %}

{% block title %}
    内容列表-{{ taxonomyEntity.taxonomyWord }}
{% endblock %}

{% block seo_meta %}
    <meta name="description" content="内容列表-{{ taxonomyEntity.taxonomyWord }},{{ system.siteDescription }}"/>
    <meta name="keywords" content="{{ taxonomyEntity.taxonomyWord }},{{ system.siteSubTitle }}"/>
{% endblock %}

{% block content %}
    {% include 'themes/cozastore/header.html.twig' %}
    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({{ asset('assets/cozastore/images/bg-02.jpg') }});">
        <h2 class="ltext-105 cl0 txt-center">
            {{ taxonomyEntity.taxonomyWord }}
        </h2>
    </section>
    <!-- Content page -->
    <section class="bg0 p-t-62 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9 p-b-80">
                    <div class="p-r-45 p-r-0-lg">
                        {% for article in paginator %}
                            <!-- item blog -->
                            <div class="p-b-63">
                                <a href="{{ path('show_single_content', {id: article.id }) }}" class="hov-img0 how-pos5-parent">
                                    <img src="{{ asset(article.fieldImageTableEntitys[0].fileManagedEntity.uri) }}" alt="{{ article.title }}">
                                    <div class="flex-col-c-m size-123 bg9 how-pos5">
									<span class="ltext-107 cl2 txt-center">
										{{ article.createAt|date('d') }}
									</span>

                                        <span class="stext-109 cl3 txt-center">
										{{ article.createAt|date('m, Y') }}
									</span>
                                    </div>
                                </a>

                                <div class="p-t-32">
                                    <h4 class="p-b-15">
                                        <a href="{{ path('show_single_content', {id: article.id }) }}" class="ltext-108 cl2 hov-cl1 trans-04">
                                            {{ article.title }}
                                        </a>
                                    </h4>

                                    <p class="stext-117 cl6">
                                        {{ article.body|raw|striptags|slice(0,160) }}...
                                    </p>

                                    <div class="flex-w flex-sb-m p-t-18">
									<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
										<span>
											<span class="cl4">作者:</span> {{ article.author.username }}
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											{% for fieldTaxonomyTableEntity in article.fieldTaxonomyTableEntitys %}
                                                {{ fieldTaxonomyTableEntity.taxonomyEntity.taxonomyWord }}
                                            {% endfor %}
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											{{ article.commentEntities|length }} 条评论
										</span>
									</span>

                                        <a href="{{ path('show_single_content', {id: article.id }) }}" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                            阅读更多
                                            <i class="fa fa-long-arrow-right m-l-9"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Pagination -->
                        <div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
                            {{ knp_pagination_render(paginator,'themes/cozastore/twitter_bootstrap_v4_pagination.html.twig') }}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 p-b-80">
                    <div class="side-menu">
                        <div class="bor17 of-hidden pos-relative">
                            <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder="搜索文章">
                            <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </div>

                        <div class="p-t-55">
                            <h4 class="mtext-112 cl2 p-b-33">
                                分类词汇
                            </h4>

                            <ul>
                                {% for taxonomyEntity in baseController.taxonomyEntities("tags") %}
                                    <li class="bor18">
                                        <a href="{{ path('show_taxonomy_content_list', {id: taxonomyEntity.id}) }}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                            {{ taxonomyEntity.taxonomyWord }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="p-t-65">
                            <h4 class="mtext-112 cl2 p-b-33">
                                商品推荐
                            </h4>

                            <ul>
                                {% for randomProduct in baseController.randomProducts(4) %}
                                    <li class="flex-w flex-t p-b-30">
                                        <a href="#" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                                            <img src="{{ asset(randomProduct.fieldImageTableEntitys[0].fileManagedEntity.uri) | imagine_filter('content_list_product_thumbnail') }}" alt="{{ randomProduct.title }}">
                                        </a>

                                        <div class="size-215 flex-col-t p-t-8">
                                            <a href="#" class="stext-116 cl8 hov-cl1 trans-04">
                                                {{ randomProduct.title }}
                                            </a>

                                            <span class="stext-116 cl6 p-t-20">
											{% for fieldTableEntity in randomProduct.fieldTableEntitys %}
                                                {% if "discount" in fieldTableEntity.fieldAliasInContentTypeEntity %}
                                                    ¥:{{ fieldTableEntity.fieldTableValue }}
                                                {% endif %}
                                            {% endfor %}
										</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {#<div class="p-t-55">#}
                        {#<h4 class="mtext-112 cl2 p-b-20">#}
                        {#Archive#}
                        {#</h4>#}

                        {#<ul>#}
                        {#<li class="p-b-7">#}
                        {#<a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">#}
                        {#<span>#}
                        {#July 2018#}
                        {#</span>#}

                        {#<span>#}
                        {#(9)#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}

                        {#<li class="p-b-7">#}
                        {#<a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">#}
                        {#<span>#}
                        {#June 2018#}
                        {#</span>#}

                        {#<span>#}
                        {#(39)#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}

                        {#<li class="p-b-7">#}
                        {#<a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">#}
                        {#<span>#}
                        {#May 2018#}
                        {#</span>#}

                        {#<span>#}
                        {#(29)#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}

                        {#<li class="p-b-7">#}
                        {#<a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">#}
                        {#<span>#}
                        {#April  2018#}
                        {#</span>#}

                        {#<span>#}
                        {#(35)#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}

                        {#<li class="p-b-7">#}
                        {#<a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">#}
                        {#<span>#}
                        {#March 2018#}
                        {#</span>#}

                        {#<span>#}
                        {#(22)#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}

                        {#<li class="p-b-7">#}
                        {#<a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">#}
                        {#<span>#}
                        {#February 2018#}
                        {#</span>#}

                        {#<span>#}
                        {#(32)#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}

                        {#<li class="p-b-7">#}
                        {#<a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">#}
                        {#<span>#}
                        {#January 2018#}
                        {#</span>#}

                        {#<span>#}
                        {#(21)#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}

                        {#<li class="p-b-7">#}
                        {#<a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">#}
                        {#<span>#}
                        {#December 2017#}
                        {#</span>#}

                        {#<span>#}
                        {#(26)#}
                        {#</span>#}
                        {#</a>#}
                        {#</li>#}
                        {#</ul>#}
                        {#</div>#}

                        {#<div class="p-t-50">#}
                        {#<h4 class="mtext-112 cl2 p-b-27">#}
                        {#Tags#}
                        {#</h4>#}

                        {#<div class="flex-w m-r--5">#}
                        {#<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">#}
                        {#Fashion#}
                        {#</a>#}

                        {#<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">#}
                        {#Lifestyle#}
                        {#</a>#}

                        {#<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">#}
                        {#Denim#}
                        {#</a>#}

                        {#<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">#}
                        {#Streetstyle#}
                        {#</a>#}

                        {#<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">#}
                        {#Crafts#}
                        {#</a>#}
                        {#</div>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'themes/cozastore/footer.html.twig' %}
{% endblock %}

{% block base_javascripts %}
    {{ parent() }}
    {#当前页面得把页头MENU背景改为白色，用jquery修改吧#}
    <script>
        $(document).ready(function(){
            $("header").addClass("header-v4");

            $('.js-show-cart').on('click',function(e){
                window.location.href= $(e.target).data("cart");
            });
        });
    </script>
{% endblock %}