{% extends 'admin_pages/base.html.twig' %}

{% block title %}系统设置!{% endblock %}

{% block subHeader %}
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">系统设置</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-12">
        <div class="m-portlet m-portlet--tab">

            {{ form_errors(systemForm) }}

            {{ form_start(systemForm,{"attr": {"class":"m-form m-form--fit m-form--label-align-right m--padding-top-30"}}) }}
            <div class="m-form__group border-bottom">
                {{ form_row(systemForm.siteTitle) }}
                {{ form_row(systemForm.siteSubTitle) }}
                {{ form_row(systemForm.siteDescription) }}
                {{ form_row(systemForm.siteEmail) }}
            </div>

        {% if "ROLE_SUPER_ADMIN" in app.user.roles
        or app.user.userPermissionGroupEntity.permissionJson.systemEntity.edit is defined %}
            <div class="m-form__actions">
                <button class="btn btn-primary">确定</button>
            </div>
        {% endif %}

            {{ form_end(systemForm) }}
        </div>
    </div>
{% endblock %}